<%- include('templates/header'); -%>
<!--================Home Banner Area =================-->
<section class="banner_area">
<div class="banner_inner d-flex align-items-center">
<div class="container">
<div
class="banner_content d-md-flex justify-content-between align-items-center"
>
<div class="mb-3 mb-md-0">
<h2>Cart</h2>
<p>Very us move be blessed multiply night</p>
</div>
<div class="page_link">
<a href="/index">Home</a>
<a href="/cart">Cart</a>
</div>
</div>
</div>
</div>
</section>
<!--================End Home Banner Area =================-->

<!--================Cart Area =================-->
<section class="cart_area">
<div class="container">
<div class="cart_inner">
<div class="table-responsive">
<table class="table">
<thead>
<tr>
<th scope="col">Product</th>
<th scope="col">Price</th>
<th scope="col">Quantity</th>
<th scope="col">Total</th>
<th scope="col">Action</th>
</tr>
</thead>
<tbody>
<form method="post">  
<% let total = 0; for(const cartitem of cartItems) {%>  
<tr id="cart_<%= cartitem.id%>">
<td>
<div class="media">
<div class="d-flex">
<img src="/img/product/<%= cartitem.cover_image %>" alt="" style="width:100px;height:100px;" />
</div>
<div class="media-body">
<p><%= cartitem.name %></p>
</div>
</div>
</td>
<td>
<h5>₦<%= cartitem.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','); %></h5>
</td>
<td>
<input type="number" name="qty" id="sst" maxlength="12" value="<%= cartitem.qty %>" title="Quantity:" class="input-text qty form-control"
style="width:50px;" onchange="CartQuantityUpdate('<%= cartitem.id %>',this.value,'<%= cartitem.price %>')"/>
<span id="refresh2_<%= cartitem.id %>"></span>
</td>
<td>
<% let qty = cartitem.qty
let price = cartitem.price
let subtotal = Number(price) * Number(qty)
total += subtotal
subtotal = subtotal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
%>  
<h5 id="subtotal_<%= cartitem.id %>">₦<%= subtotal %></h5>
</td>
<td id="refresh_<%= cartitem.id %>">  
<form method="post">      
<button type="button" class="btn btn-info btn-sm" onclick="removeCartItem('<%= cartitem.id %>')"><i class="fa fa-times"></i></button>
</form>
</td>
</tr>
<%}%>
<tr class="bottom_button">
<td>
<a href="/cart/list" class="gray_btn" href="#">Update Cart</a>
</td>
</form>
<td></td>
<td></td>
<td>
<div class="cupon_text">
<input type="text" placeholder="Coupon Code" />
<a class="main_btn" href="#">Apply</a>
<a class="gray_btn" href="#">Close Coupon</a>
</div>
</td>
</tr>
<tr>
<td></td>
<td></td>
<td>
<h5>Subtotal</h5>
</td>
<td>
<h5>₦<%= total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','); %></h5>
</td>
</tr>
<tr class="out_button_area">
<td></td>
<td></td>
<td></td>
<% if(messages.cartDelete) {%>
<script>
 swal({
 icon:"info",
 text: '<%= messages.cartDelete%>'  
 }); 
</script>
<%}%>
<td>
<div class="checkout_btn_inner">
<a class="gray_btn" href="#">Continue Shopping</a>
<a class="main_btn" href="#">Proceed to checkout</a>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</section>
<!--================End Cart Area =================-->
<%- include('templates/footer'); -%>