<%- include('templates/header'); -%>
<!--================Home Banner Area =================-->
<section class="banner_area">
<div class="banner_inner d-flex align-items-center">
<div class="container">
<div
class="banner_content d-md-flex justify-content-between align-items-center"
>
<div class="mb-3 mb-md-0">
<h2>Product Checkout</h2>
<p>Very us move be blessed multiply night</p>
</div>
<div class="page_link">
<a href="index.html">Home</a>
<a href="checkout.html">Product Checkout</a>
</div>
</div>
</div>
</div>
</section>
<!--================End Home Banner Area =================-->

<!--================Checkout Area =================-->
<section class="checkout_area section_gap">
<div class="container">
<div class="billing_details">
<div class="row">
<div class="col-lg-8">
<h3>Billing Details</h3>
<form class="row contact_form" action="/cart/checkout" method="post">
<input type="hidden" name="_csrf" value="<%= csrfToken  %>">
<div class="col-md-12 form-group p_star">
<input type="text" class="form-control" value="<%= formData.name %>" id="add1" name="state" placeholder="State Name"/>
<%if(formerrors.state){%>
<span class="text-danger"><%= formerrors.state %></span>
<%}%>
</div>
<div class="col-md-12 form-group p_star">
<input type="text" class="form-control" value="<%= formData.address %>" id="add1" name="address" placeholder="Address"/>
<%if(formerrors.address){%>
<span class="text-danger"><%= formerrors.address %></span>
<%}%>
</div>
<div class="col-md-12 form-group p_star">
<input type="text" class="form-control" id="city" value="<%= formData.city %>" name="city" placeholder="City Name"/>
<%if(formerrors.city){%>
<span class="text-danger"><%= formerrors.city %></span>
<%}%>
</div>
<div class="col-md-12 form-group">
<input type="text" class="form-control" id="zip" value="<%= formData.zip %>" name="zip" placeholder="Postcode/ZIP"/>
<%if(formerrors.zip){%>
<span class="text-danger"><%= formerrors.zip %></span>
<%}%>
</div>
<div class="col-md-12 form-group">
<div class="creat_account">
</div>
</div>
<div class="col-md-12 form-group">
<div class="creat_account">
<h3>Shipping Details</h3>
<input type="checkbox" id="f-option3" name="selector" />
<label for="f-option3">Ship to a different address?</label>
</div>
<textarea class="form-control" name="message" value="<%= formData.message %>" id="message" rows="1" placeholder="Order Notes"></textarea>
<%if(formerrors.message){%>
<span class="text-danger"><%= formerrors.message %></span>
<%}%>
</div>
</div>
<div class="col-lg-4">
<div class="order_box">
<h2>Your Order</h2>
<ul class="list">
<li>
<a href="#">Product<span>Total</span></a>
</li>
<% let subtotal = 0; for(const cartItem of cartItems){%>
<li>
<a href="#"
>
<% if(cartItem.name.length > 12){%>
<%= cartItem.name.substr(0,12)+'...' %>
<%}else{%>
<%= cartItem.name %>
<%}%>
<% 
let qty = Number(cartItem.qty);
let price = Number(cartItem.price);
let total = price * qty;
subtotal += total;
%> 
<span class="middle">x <%= qty %></span>
<span class="last">₦<%= total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') %></span>
</a>
</li>
<%}%>
</ul>
<ul class="list list_2">
<li>
<% 
let shipping = 1000;  
let grandTotal = subtotal + shipping;
%>   
<a href="#"
>Subtotal
<span>₦<%= subtotal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') %></span>
</a>
</li>
<li>
<a href="#"
>Shipping
<span>Flat rate: ₦<%= shipping.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') %></span>
</a>
</li>
<li>
<a href="#"
>Total
<span>₦<%= grandTotal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') %></span>
</a>
</li>
</ul>
<div class="payment_item">
<div class="radion_btn">
<input type="radio" id="f-option5" name="selector" />
<label for="f-option5">Check payments</label>
<div class="check"></div>
</div>
<p>
Please send a check to Store Name, Store Street, Store Town,
Store State / County, Store Postcode.
</p>
</div>
<div class="payment_item active">
<div class="radion_btn">
<input type="radio" id="f-option6" name="selector" />
<label for="f-option6">Paypal </label>
<img src="img/product/single-product/card.jpg" alt="" />
<div class="check"></div>
</div>
<p>
Please send a check to Store Name, Store Street, Store Town,
Store State / County, Store Postcode.
</p>
</div>
<div class="creat_account">
<input type="checkbox" id="f-option4" name="terms" />
<label for="f-option4">I’ve read and accept the </label>
<a href="#">terms & conditions*</a>
<% if(formerrors.terms){%>
<span class="text-danger"><%= formerrors.terms %></span>  
<%}%>
</div>
<input type="hidden" name="total" value="<%= grandTotal %>" />
<button type="submit" class="main_btn" style="width:100%;">Proceed to Paypal</button>
</div>
</div>
</div>
</form>
</div>
</div>
</section>
<!--================End Checkout Area =================-->

<%- include('templates/footer'); -%>