<% if(authUser) {%>
<script>
window.location = "/category";    
</script>
<%}%>
<%- include("templates/header"); -%>
<style>
.clearfix {padding:50px;}   
</style>
<!--================Home Banner Area =================-->
<section class="banner_area">
<div class="banner_inner d-flex align-items-center">
<div class="container">
<div
class="banner_content d-md-flex justify-content-between align-items-center"
>
<div class="mb-3 mb-md-0">
<h2>Signup</h2>
<p>Very us move be blessed multiply night</p>
</div>
<div class="page_link">
<a href="/">Home</a>
<a href="">Signup</a>
</div>
</div>
</div>
</div>
</section>
<div class="clearfix"></div>
<!--================End Home Banner Area =================-->
<div class="container">
<div class="row">
<div class="col-md-12">
<div style = "width:500px;margin: 0 auto;background:white;box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;padding:30px;">
<% if(messages.registered) {%>
<div class="alert alert-success"><%= messages.registered %></div>    
<% } %>    
<form method="post" action="/signup">
<input type="hidden" name="_csrf" value="<%= csrfToken  %>">     
<label>Fullname</label>  
<input type="text" name="fname" value="<%= formData.fname%>" class="form-control" />    
<% if(errors.fname){%>
<span class="text-danger"><%=errors.fname %></span><br/>
<% } %>
<label>Phone Number</label>  
<input type="number" name="phone" value="<%= formData.phone%>" class="form-control" />
<% if(errors.phone){%>
<span class="text-danger"><%=errors.phone %></span><br/>
<% } %>
<label>Email</label>  
<input type="email" name="email" value="<%= formData.email%>" class="form-control" />
<% if(errors.email){%>
<span class="text-danger"><%=errors.email %></span><br/>
<% } %>
<label>Password</label>
<input type="password" class="form-control" name="password" />
<% if(errors.password){%>
<span class="text-danger"><%=errors.password %></span><br/>
<% } %>
<label>Confirm Password</label>  
<input type="password" name="cpassword" class="form-control" />
<% if(errors.cpassword){%>
<span class="text-danger"><%=errors.cpassword %></span><br/>
<% } %>
<br/>
<button type="submit" name="submit" class="btn btn-success" style="width:100%;">Signup</button>
</form>
</div>
</div>
</div> 
</div>
<div class="clearfix"></div>
<%- include("templates/footer"); -%>